<div class="container">
  <ng-container #container></ng-container>
</div>
<div class="all">
<div class="inputAndButton">
<mat-form-field appearance="fill">
  <mat-label>Nazwa taska</mat-label>
  <input #task matInput type="text" placeholder="" value="">
</mat-form-field>
<button mat-stroked-button color="accent" (click)="addToDo()">Add</button>
</div>
<div *ngIf="getUndoneTasks().length>0">
<p>Do zrobienia</p>
<mat-divider></mat-divider>
</div>
<mat-list role="tasks" *ngFor="let task of getUndoneTasks()">
  <app-todo-item-component (doneEvent)="doneNotif()" (deleteEvent)="deleteTask($event)" [toDo]="task"></app-todo-item-component>
</mat-list>
<div *ngIf="getDoneTasks().length>0">
<p>Zrobione</p>
<mat-divider></mat-divider>
</div>
<mat-list role="tasks" *ngFor="let task of getDoneTasks()">
  <app-todo-item-component (deleteEvent)="deleteTask($event)" [toDo]="task"></app-todo-item-component>
</mat-list>
</div>
