<div class="all">
<div class="inputAndButton">
<mat-form-field appearance="fill">
  <mat-label>Nazwa taska</mat-label>
  <input #task matInput type="text" placeholder="" value="">
</mat-form-field>
<button mat-stroked-button color="accent" (click)="addToDo()">Add</button>
</div>
<p>Do zrobienia</p>
<mat-list role="tasks" *ngFor="let task of getUndoneTasks()">
  <app-todo-item-component [toDo]="task"></app-todo-item-component>
</mat-list>
<p>Zrobione</p>
<mat-list role="tasks" *ngFor="let task of getDoneTasks()">
  <app-todo-item-component [toDo]="task"></app-todo-item-component>
</mat-list>
</div>