.all {
    text-align:center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
 }

.all .inputAndButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button.mat-stroked-button{
    font-size: 14px;
    height: 45px;
    margin: 10px;
}

mat-form-field.mat-form-field{
    font-size: 12px;
    width: 300px;
    padding: 16.125px 0px 0px 0px;
}

.container{
  position: fixed;
  top: 1%;
  right: 1%;
  max-height: 514px;
  overflow-y: scroll; /* Add the ability to scroll */
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
}

.container::-webkit-scrollbar {
  display: none;
}

